@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*start footer*/
.footer {
  background: #000; }
  .footer .footer-top {
    border-bottom: 1px solid #2b2b2b; }
    .footer .footer-top .text-footer {
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding-top: 80px;
      text-transform: uppercase; }
    .footer .footer-top .line {
      width: 45px;
      height: 2px;
      background: #e5b72d;
      margin-top: 15px;
      margin-bottom: 20px; }
    .footer .footer-top a {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 32px;
      font-weight: 400;
      color: #666; }
      .footer .footer-top a:hover {
        text-decoration: none;
        color: #ff6666; }
    .footer .footer-top .logo {
      margin-top: 80px;
      border-left: 1px solid #2b2b2b;
      border-right: 1px solid #2b2b2b;
      padding-left: 80px;
      padding-right: 80px;
      padding-bottom: 101px;
      margin-bottom: 48px; }
    .footer .footer-top .textfooter {
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      padding-top: 80px;
      text-align: center; }
    .footer .footer-top .get {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #686868;
      text-align: center;
      padding-bottom: 32px;
      padding-top: 25px; }
    .footer .footer-top .form {
      position: relative;
      text-align: center; }
      .footer .footer-top .form input {
        background: #000;
        border: 1px solid #333;
        color: #868686;
        outline: none;
        padding: 18px 50px; }
      .footer .footer-top .form .submit {
        font-family: "Open Sans", sans-serif;
        border: none;
        background: #e5b72d;
        color: #000;
        font-size: 12px;
        font-weight: 800;
        padding: 21px;
        position: absolute;
        left: 70%;
        box-shadow: inset 0 0 0 #f5e12a;
        transition: ease-out 0.5s; }
      .footer .footer-top .form .submit:hover {
        box-shadow: inset 100px 0 0 #f5e12a;
        color: #fff; }
  .footer .footer-bottom {
    padding-top: 25px; }
    .footer .footer-bottom .icon {
      color: #2b2b2b; }
      .footer .footer-bottom .icon a i {
        width: 45px;
        height: 45px;
        border: 1px solid #2b2b2b;
        border-radius: 50%;
        color: #2b2b2b;
        padding-top: 15px;
        text-align: center;
        margin-right: 11px;
        margin-bottom: 9px; }
        .footer .footer-bottom .icon a i:hover {
          background: #f33c3c;
          color: #fff; }
    .footer .footer-bottom p {
      font-size: 13px;
      font-weight: 400;
      font-family: "Open Sans", sans-serif; }
  @media screen and (max-width: 350px) {
    .footer .line {
      display: none; }
    .footer .icon {
      text-align: center; }
    .footer h4 {
      text-align: center; }
    .footer ul {
      text-align: center; }
    .footer .Logo .logo {
      border: none; } }
  @media screen and (max-width: 992px) {
    .footer form {
      margin-bottom: 50px; }
    .footer .line {
      display: none; }
    .footer .icon {
      text-align: center; }
    .footer h4 {
      text-align: center; }
    .footer ul {
      text-align: center; }
    .footer .Logo .logo {
      border: none; } }

/*end footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  margin: 0px; }

/*start heder*/
.header-top {
  background: #9cc; }
  .header-top p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 14px;
    padding-bottom: 14px; }
  .header-top .forma {
    padding: 0 0 !important;
    margin-bottom: 0 !important; }

.header-bottom {
  padding-top: 0 !important;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e5e5; }
  .header-bottom form {
    padding-top: 37px;
    border-radius: 25px !important;
    margin-bottom: 32px; }
  .header-bottom input {
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 15px  40px 16px;
    background: #f3f3f3; }
  .header-bottom .seach {
    position: absolute;
    left: 20px;
    top: 53px;
    border: none !important;
    background: #f3f3f3; }
  .header-bottom .menu {
    font-family: "Open Sans", sans-serif;
    margin-top: 40px; }
    .header-bottom .menu .home {
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      padding-right: 31px;
      padding-top: 20px; }
      .header-bottom .menu .home:hover {
        text-decoration: none; }
    .header-bottom .menu .shop {
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      padding-right: 31px;
      padding-top: 20px; }
      .header-bottom .menu .shop:hover {
        text-decoration: none; }
    .header-bottom .menu .element {
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      padding-right: 50px;
      padding-top: 20px; }
      .header-bottom .menu .element:hover {
        text-decoration: none; }
    .header-bottom .menu .page {
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      padding-right: 31px;
      padding-left: 51px;
      padding-top: 20px; }
      .header-bottom .menu .page:hover {
        text-decoration: none; }
    .header-bottom .menu .blog {
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      padding-right: 42px;
      padding-top: 20px; }
      .header-bottom .menu .blog:hover {
        text-decoration: none; }
    .header-bottom .menu .megamenu {
      color: #000;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      padding-top: 20px; }
      .header-bottom .menu .megamenu:hover {
        text-decoration: none; }
  .header-bottom .drop {
    margin-top: 50px;
    display: inline-block; }
    .header-bottom .drop img {
      padding-bottom: 6px; }
  .header-bottom .content-text {
    box-shadow: 0px 0px #fef7f6 !important;
    border: solid 1px #000;
    width: 80px;
    height: 35px;
    border-radius: 20px;
    font-size: 14px;
    color: #000;
    margin-right: 10px; }
  .header-bottom .dropdown-toggle::after {
    color: #000; }
  .header-bottom .icon {
    display: inline-block;
    margin-top: 44px; }
    .header-bottom .icon i {
      font-size: 20px;
      color: #000;
      padding-right: 10px; }
  .header-bottom .text-center {
    top: 10px !important; }
    .header-bottom .text-center a {
      color: black;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none; }
      .header-bottom .text-center a:hover {
        color: brown; }
    .header-bottom .text-center img {
      padding-bottom: 0px !important;
      padding-right: 10px; }

@media screen and (min-width: 1282px) {
  .header-center {
    text-align: center; } }
@media screen and (min-width: 2300px) {
  .header-left {
    text-align: center; }
    .header-left .seach {
      left: 30%; }

  .header-center {
    text-align: center; } }
@media screen and (max-width: 992px) {
  .header-top {
    display: none; } }
@media only screen and (min-width: 1320px) {
  .container {
    max-width: 1400px  !important; } }
@media screen and (max-width: 350px) {
  .header-bottom .icon {
    margin-top: 100% !important; }
    .header-bottom .icon i {
      font-size: 15px; } }
@media screen and (max-width: 992px) {
  .header-bottom input {
    display: none; }
  .header-bottom .seach {
    background: #fff !important;
    color: #000; }
  .header-bottom .menu a {
    padding-right: 5% !important;
    padding-left: 3% !important;
    font-size: 10px !important; } }
@media screen and (max-width: 463px) {
  .icon .heart {
    display: none; } }
@media screen and (min-width: 450px) {
  .header-bottom .icon {
    font-size: 1px;
    margin-top: 60px; } }
@media screen and (max-width: 1240px) {
  .header-bottom .drop {
    display: none; }
  .header-bottom .icon {
    font-size: 1px; } }
@media screen and (max-width: 450px) {
  .header-bottom input {
    display: none; }
  .header-bottom .seach {
    background: #fff;
    color: #000; }
  .header-bottom .header-center {
    text-align: center; }
  .header-bottom .drop {
    display: none; }
  .header-bottom .icon {
    font-size: 1px;
    margin-top: 85% !important; } }
@media screen and (max-width: 768px) {
  .header-bottom input {
    display: none; }
  .header-bottom .seach {
    background: #fff;
    color: #000; }
  .header-bottom .header-center {
    text-align: center; }
  .header-bottom .drop {
    display: none; }

  .header-center .menu a {
    display: none; } }
/*end header*/
/*start section*/
.product .section-top ul li {
  list-style: none;
  padding: 0 0; }
  .product .section-top ul li a {
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400; }
    .product .section-top ul li a:hover {
      text-decoration: none; }
    .product .section-top ul li a i {
      padding-left: 12px;
      padding-right: 12px;
      color: #b6b6b6; }
.product .section-bottom .social-share-product {
  background: #f33c3c;
  position: fixed;
  left: 0;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  text-align: center;
  width: 40px;
  top: 50%;
  z-index: 2; }
  .product .section-bottom .social-share-product a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 5px 0;
    display: inline-block;
    width: 100%; }
.product .section-bottom .product-img .slick-dots {
  display: none; }
.product .section-bottom .img-product .slick-track {
  margin-left: 0px !important;
  margin-top: 16px !important; }
.product .section-bottom .img-product .slick-list {
  padding: 0px 0px !important; }
.product .section-bottom .img-product #slick-slide10 {
  width: 120px !important; }
.product .section-bottom .img-product #slick-slide11 {
  width: 120px !important; }
.product .section-bottom .content {
  width: 100%;
  border-bottom: 1px solid #e2e2e2; }
  .product .section-bottom .content .heart {
    color: #000;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: 0px 3px 29px 0px rgba(0, 0, 0, 0.08);
    padding: 22px 20px; }
    .product .section-bottom .content .heart:hover {
      background: #ff7171;
      transition: 0.5s;
      color: #fff; }
  .product .section-bottom .content i {
    color: #f2b03d;
    font-size: 12px; }
  .product .section-bottom .content .review {
    font-family: "Open Sans", sans-serif;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    display: inline-flex;
    padding-left: 11px; }
  .product .section-bottom .content .name {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 400; }
  .product .section-bottom .content .discount {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #e5b72d;
    display: inline-block;
    padding-bottom: 25px; }
  .product .section-bottom .content .price {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-decoration: line-through;
    color: #afafaf;
    padding-left: 10px; }
.product .section-bottom .information {
  margin-top: 25px; }
  .product .section-bottom .information ul {
    padding: 0 20px;
    margin-bottom: 21px; }
    .product .section-bottom .information ul li {
      font-family: "Open Sans", sans-serif;
      color: #39b93c;
      font-size: 14px;
      font-weight: 700; }
  .product .section-bottom .information .fast {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    color: #ff421d;
    font-size: 20px;
    font-weight: 600;
    padding-left: 14px;
    padding-bottom: 24px; }
  .product .section-bottom .information #countdown ul {
    display: flex; }
    .product .section-bottom .information #countdown ul li {
      list-style: none;
      color: #000; }
      .product .section-bottom .information #countdown ul li span {
        color: #000;
        font-size: 30px;
        font-weight: 400;
        border: 1px solid #fff;
        margin-right: 15px;
        padding: 10px 10px;
        box-shadow: 0px 15px 38px 0px rgba(0, 0, 0, 0.07);
        border-radius: 50%; }
      .product .section-bottom .information #countdown ul li p {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin-right: 11px;
        margin-left: 10px;
        margin-top: 17px; }
  .product .section-bottom .information .by {
    font-family: "Open Sans", sans-serif;
    background: #39b93c;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 19px 100px 20px 100px;
    border-radius: 0px; }
    .product .section-bottom .information .by:hover {
      background: #44bb83; }
  .product .section-bottom .information input {
    margin-left: 8px;
    width: 60px; }
  .product .section-bottom .information .maeceans {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #868686;
    margin-top: 26px;
    margin-bottom: 32px; }
  .product .section-bottom .information .size {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding-left: 12px; }
  .product .section-bottom .information .text-size {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 38px;
    margin-top: 36px; }
  .product .section-bottom .information .textsize {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    margin-top: 25px; }
    .product .section-bottom .information .textsize a {
      color: #000; }
      .product .section-bottom .information .textsize a:hover {
        text-decoration: none;
        color: #fff; }
    .product .section-bottom .information .textsize:hover {
      background: #65f7b3;
      transition: 0.5s;
      border: none; }
  .product .section-bottom .information .text-color {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 21px;
    margin-top: 30px; }
  .product .section-bottom .information .color {
    margin-top: 25px; }
    .product .section-bottom .information .color .nude {
      border-radius: 50%;
      background: #dc8e6a;
      padding: 0px 10px;
      margin-right: 13px; }
    .product .section-bottom .information .color .violet {
      border-radius: 50%;
      background: #b36cd4;
      padding: 0px 10px;
      margin-right: 13px; }
    .product .section-bottom .information .color .blue {
      border-radius: 50%;
      background: #6adcd8;
      padding: 0px 10px;
      margin-right: 13px; }
    .product .section-bottom .information .color .brown {
      border-radius: 50%;
      background: #371d11;
      padding: 0px 10px; }
  .product .section-bottom .information .sku {
    margin-top: 24px;
    font-size: 12px;
    font-weight: 800;
    margin-right: 5px; }
  .product .section-bottom .information .sku-number {
    margin-top: 24px;
    font-size: 12px;
    font-weight: 400;
    color: #b4b4b4; }
  .product .section-bottom .information .cate {
    font-size: 14px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 24px; }
  .product .section-bottom .information .best {
    font-size: 14px;
    font-weight: 400;
    color: #b4b4b4;
    margin-top: 20px; }
  .product .section-bottom .information .safe {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-left: 11px;
    margin-bottom: 27px; }
@media screen and (max-width: 768px) {
  .product .by {
    padding: 10px 70px 10px 70px; }
  .product .maeceans {
    width: 70%; }
  .product .social-share-product {
    display: none; } }
@media screen and (max-width: 992px) {
  .product .by {
    padding: 10px 70px 10px 70px !important; }
  .product .maeceans {
    width: 70%; }
  .product .mmenu {
    width: 90% !important; }
  .product .social-share-product {
    display: none; } }

.description {
  margin-top: 67px;
  margin-bottom: 94px; }
  .description .line {
    position: relative; }
  .description .line1 {
    position: absolute;
    width: 31%;
    height: 2px;
    background: #999;
    top: 19px;
    left: -35px; }
  .description .line2 {
    position: absolute;
    width: 35%;
    height: 2px;
    background: #999;
    display: inline;
    top: 18%; }
  .description ul {
    border: none !important;
    margin-bottom: 70px;
    display: inline-flex;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center; }
  .description a {
    font-family: "Open Sans", sans-serif;
    color: #999;
    font-size: 14px;
    font-weight: 700;
    border: none !important; }
    .description a:hover {
      text-decoration: none; }
  .description .text {
    padding-left: 0px !important;
    padding-right: 0px !important; }
    .description .text .hight {
      font-family: "Open Sans", sans-serif;
      font-size: 35px;
      font-weight: 300;
      padding-top: 120px;
      padding-bottom: 53px; }
    .description .text .donec {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #999;
      width: 100%;
      padding-bottom: 47px; }
    .description .text .eget {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #999;
      width: 100%;
      padding-bottom: 10px; }
    .description .text img {
      padding-right: 35px; }
  @media screen and (max-width: 768px) {
    .description .line1 {
      display: none; }
    .description .line2 {
      display: none; }
    .description .hight {
      width: 100% !important; }
    .description .donec {
      width: 90% !important; }
    .description .eget {
      width: 90% !important; } }
  @media screen and (max-width: 992px) {
    .description .line1 {
      display: none; }
    .description .line2 {
      display: none; }
    .description .hight {
      font-size: 30px !important;
      width: 100% !important;
      padding-bottom: 35px !important; }
    .description .donec {
      font-size: 12px !important;
      width: 90% !important;
      padding-bottom: 35px !important; }
    .description .eget {
      font-size: 12px !important;
      width: 90% !important; } }

.ultra .desgin {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 300;
  padding-top: 194px;
  padding-bottom: 44px; }
.ultra .donec {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 47px;
  color: #999; }
.ultra .text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600; }
  .ultra .text .water {
    padding-left: 3px;
    display: inline-flex;
    margin-bottom: 29px; }
  .ultra .text .clean {
    display: inline-flex;
    padding-left: 3px;
    margin-bottom: 29px; }
  .ultra .text .subtle {
    display: inline-flex;
    padding-left: 3px;
    margin-bottom: 29px; }
  .ultra .text .colours {
    display: inline-flex;
    padding-left: 3px;
    margin-bottom: 29px; }
@media screen and (max-width: 992px) {
  .ultra .desgin {
    font-size: 25px !important;
    padding-bottom: 30px !important;
    padding-top: 130px !important; }
  .ultra .donec {
    font-size: 12px !important;
    padding-bottom: 30px !important; }
  .ultra .text {
    font-size: 9px !important; } }

.anello {
  background: url(img/bg.png);
  margin-top: 94px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 44px;
  background-color: #f8f8f8; }
  .anello .text-anello {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 300;
    padding-top: 274px; }
  .anello .donec {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding-top: 31px;
    padding-bottom: 50px; }
  .anello a {
    font-family: "Open Sans", sans-serif;
    border: 1px solid #000;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 290px;
    padding: 15px 45px 15px 45px; }

@media screen and (max-width: 992px) {
  .text-anello {
    font-size: 35px !important; }

  .donec {
    font-size: 11px !important; } }
.iconn {
  border-bottom: 1px solid #e2e2e2; }
  .iconn .twitter {
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #000;
    margin-right: 15px;
    padding: 12px 11px 12px 12px;
    margin-bottom: 43px; }
    .iconn .twitter:hover {
      background: #fc6565; }
  .iconn .facebook {
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #000;
    margin-right: 15px;
    padding: 12px 14px 9px 14px;
    margin-bottom: 43px; }
    .iconn .facebook:hover {
      background: #fc6565; }
  .iconn .plus {
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #000;
    margin-right: 15px;
    padding: 12px 7px 11px 9px;
    margin-bottom: 43px; }
    .iconn .plus:hover {
      background: #fc6565; }
  .iconn .envelope {
    color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #000;
    margin-right: 15px;
    padding: 12px 10px 13px 10px;
    margin-bottom: 43px; }
    .iconn .envelope:hover {
      background: #fc6565; }

.related {
  margin-top: 52px; }
  .related .textt {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 24px; }
  .related .line {
    width: 40px;
    height: 2px;
    background: #e5b72d;
    margin-bottom: 48px;
    display: inline-block; }
  .related .image {
    cursor: pointer; }
    .related .image .img-hover {
      position: absolute;
      top: 0;
      opacity: 0; }
    .related .image:hover .img-hover {
      opacity: 1;
      transform: all .5s ease-in;
      transition: 0.5s; }
    .related .image .icon {
      text-align: center;
      position: absolute;
      opacity: 0;
      padding-left: 37px; }
    .related .image .icon .tooltiptext {
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      visibility: hidden;
      width: 114px;
      background-color: #000;
      color: #fff;
      text-align: center;
      border-radius: 12px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -20%;
      opacity: 0;
      transition: opacity 0.3s; }
    .related .image .icon .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #000 transparent transparent transparent; }
    .related .image a:hover .tooltiptext {
      visibility: visible;
      opacity: 1; }
    .related .image .icon i {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;
      text-align: center;
      padding-top: 18px; }
    .related .image .icon i:hover {
      background: #e5b72d;
      color: #fff;
      transition: all 0.3s ease-in-out; }
    .related .image:hover .icon {
      display: block;
      transform: translate(0, -60px);
      opacity: 1;
      transition: all 0.3s ease-in-out;
      transition: 0.5s; }
  .related .text {
    color: #999;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 15px; }
    .related .text:hover {
      color: #e5b72d; }
  .related .price {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 100px; }
  @media screen and (max-width: 768px) {
    .related .image .icon i {
      display: none; }
    .related .image .img-hover {
      display: none; } }
  @media screen and (max-width: 992px) {
    .related .image .icon {
      padding-left: 20% !important; } }
  @media screen and (max-width: 1200px) {
    .related .image .icon {
      padding-left: 8%; } }

.recently {
  background: #f8f8f8;
  margin-bottom: 5px; }
  .recently .text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 24px;
    padding-top: 71px; }
  .recently .line {
    width: 40px;
    height: 2px;
    background: #e5b72d;
    margin-bottom: 59px;
    display: inline-block; }
  .recently img:hover:hover {
    transform: scale(1.05);
    transition-duration: 0.5s; }

/*end section*/

/*# sourceMappingURL=style.css.map */
